<div class="homepage-review_container" >
  
  {%for block in section.blocks %}
   	  {% assign mod = forloop.index | modulo: 2 %}
  		{%if mod == 0%}
  		<div class = "review-image_container">	
             <div class="homepage-review_card-container right trd">  
              <p class ="homepage-review_title" >{{block.settings.heading}}</p>
              <p class = "homepage-review_author">{{block.settings.author}}</p>
              <p class = "homepage-review_stars-icon">{{block.settings.stars-icon}}</p>
              <img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
              </div>
          
            <div class = "image-review_container ordering trl">
                <a class ="catalog-category_img-link" href="{{block.settings.link-1}}"><img class ="catalog-category_img_main" src="{{block.settings.image-catalog | img_url:'master'}}"/></a>
            </div>
  		</div>
          
  		{%endif %}
  		{%if mod == 1%}
			<div class = "review-image_container">
                <div class = "image-review_container ordering trd">
                  <a class ="catalog-category_img-link" href="{{block.settings.link-1}}"><img class ="catalog-category_img_main" src="{{block.settings.image-catalog | img_url:'master'}}"/></a>
                </div>

               <div class="homepage-review_card-container left trl">  
                <p class ="homepage-review_title" >{{block.settings.heading}}</p>
                <p class = "homepage-review_author">{{block.settings.author}}</p>
                <p class = "homepage-review_stars-icon">{{block.settings.stars-icon}}</p>
                <img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
                </div>
  			</div>
       {%endif %}
  	
  {%endfor%}
</div>

{% style %}

.review-image_container{
	width: 100%;
	height: auto;
	display:flex;
	justify-content: center;
	gap:5%;
	flex-direction : row;
	transition: 0.4s 0.2s all
}
.review-image_container:hover{
	gap:1%;
	

}
.homepage-review_container {
	width : 100%;
	height : auto; 
	display: flex;
	flex-direction:column;
	justify-content: start; 
	align-items: center;
	margin-top:50px;
}
image-review_container {
	width:40%;
	height: auto;
}
catalog-category_img_main{
	width: 90%;
	margin-inline : auto;
	height : auto;
}
.trd{
	margin-left:3%;
}
.trl{
	margin-right:3%;
}

.homepage-review_card-container{
	width : 60%;
	height : auto;
	display: flex;
	flex-direction : column;
	align-items: center;
	justify-content: flex-start;
	transition : 0.4s 0.2s all;
	
}

.homepage-review_card-container:hover{
	text-decoration : underline;
	line-height : 1.8;
}
.homepage-review_author{
	font-size : 16px;
	transition : 0.3s 0.2s all;
}
.homepage-review_card-container:hover > .homepage-review_author {
	font-weight : 500;
	font-size : 24px;
}
.homepage-review_title,homepage-review_title,homepage-review_stars-icon{
	text-align:center;
}
.homepage-review_title{
	font-size : 28px;
}
.image-review_container{
	width : 40%;
	border :1px solid black;
	transition : 0.4s 0.2s all;
}
@media only screen and (max-width: 1100px) {


.homepage-review_container{
	flex-direction: column;
	align-items: center;

}

.review-image_container{
	flex-direction: column;
	align-content: center;
	align-items:center;
	width : 65%;
	margin-bottom: 70px;
}

.image-review_container{
	width : 100%;
	height:auto;	
}

.homepage-review_title{
	font-size:22px;
	font-size:500;
}

.ordering{
	order:1;
}
.right{
	order:2;
	
}
.left{
	order:3;

}
.homepage-review_card-container{
	width : 100%;
	height : auto;
}

}

{% endstyle %}

{% schema %}
  {
  "name": "text icon",
"class" : "section",
"settings": [
  {
      "type":"text",
      "label":"text icon",
      "id":"heading"
  }
],
  "blocks": [
      {
        "type":"image",
        "name": "homepage review",
        "settings": [
                        {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                        },
                        {
                        "type":"richtext",
                        "label":"headline",
                        "id":"author"
                        },
                        {
                        "type":"text",
                        "label":"rate",
                        "id":"stars-icon"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"image"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"image-catalog"
                        },
                        {
                        "type": "url",
                        "id": "link-1",
                        "label": "Link URL 1"

                        }
	
  					]
  				}
                  ],

          "presets" : [
                      {
                          "category":"image",
                          "name": "homepage review" 
                      }
                      ]

	
  }
{% endschema %}


