<div class="homepage-review_container" >
  {% assign iter = 0 %}
  {%for block in section.blocks %}
   	  {% assign mod = forloop.index | modulo: 2 %}
  		{%if mod == 0%}
         <div class="homepage-review_card-container right">  
          <p class ="homepage-review_title" >{{block.settings.heading}}</p>
          <p class = "homepage-review_author">{{block.settings.author}}</p>
          <p class = "homepage-review_stars-icon">{{block.settings.stars-icon}}</p>
          <img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
          </div>
  		{%endif %}
  {%if mod == 1%}
         <div class="homepage-review_card-container left">  
          <p class ="homepage-review_title" >{{block.settings.heading}}</p>
          <p class = "homepage-review_author">{{block.settings.author}}</p>
          <p class = "homepage-review_stars-icon">{{block.settings.stars-icon}}</p>
          <img class ="homepage-review_img" src="{{block.settings.image | img_url:'master'}}"/>
          </div>
  		{%endif %}
  	
  {%endfor%}
</div>

{% style %}

.homepage-review_container {
	width : 100%;
	height : auto; 
	display: flex;
	flex-direction:column;
	justify-content: start; 
	align-items: center;
}

.right{
	margin-right:200px;
}
.left(2){
	margin-left:200px;
}

.homepage-review_card-container{
	width : 50%;
	height : auto;
	display: flex;
	flex-direction : column;
	align-items: center;
	justify-content: flex-start;
	
}

{% endstyle %}

{% schema %}
  {
  "name": "text icon",
"class" : "section",
"settings": [
  {
      "type":"text",
      "label":"text icon",
      "id":"heading"
  }
],
  "blocks": [
      {
        "type":"image",
        "name": "homepage review",
        "settings": [
                        {
                        "type":"text",
                        "label":"headline",
                        "id":"heading"
                        },
                        {
                        "type":"richtext",
                        "label":"headline",
                        "id":"author"
                        },
                        {
                        "type":"text",
                        "label":"rate",
                        "id":"stars-icon"
                        },
                        {
                        "type":"image_picker",
                        "label":"your image",
                        "id":"image"
                        }
  					]
  				}
                  ],

          "presets" : [
                      {
                          "category":"image",
                          "name": "homepage review" 
                      }
                      ]

	
  }
{% endschema %}


