<div class = "social-banner_container">
  
	<div class = "social-banner-content_container">
      <ul class = "list-social_container">
        <li class="social-item_container">
          <a class = "social-item_link" href="{{block.settings.link-2}}"><img class = "social-img" src="{{block.settings.image-title | img_url:'master'}}"/></a>
        </li>
        <li class="social-item_container">
          <a class = "social-item_link" href="{{block.settings.link-2}}"><img class = "social-img" src="{{block.settings.image-title | img_url:'master'}}"/></a>
        </li>
        <li class="social-item_container">
          <a class = "social-item_link" href="{{block.settings.link-2}}"><img class = "social-img" src="{{block.settings.image-title | img_url:'master'}}"/></a>
        </li>
      </ul>
	</div>

</div>

{% stylesheet %}

.social-banner_container{
	width : 100%;
	height : auto;
	display : flex;
	justify-content: center;
	align-items : center;
	background-color: rgb(33,33,33);
}

.social-banner-content_container{
	width : 50%;
	height : auto;
	display : flex;
	justify-content:center;
	align-items:center;
}
.list-social_container{
	width:80%;
	height:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:15px;

}
.social-item_container{
	width: 25%;
	height:auto;
	
}
.social-item_link{
	width:100%;
	height:100;
	
}
.social-img{
	width:100%;
	height:auto;
}
{% endstylesheet %}



{% schema %}
{
    "name": "social_banner",
    "class" : "section",
    
    "blocks": [
        {
            "type":"text",
            "name":"social_banner",
            "settings":[
                        
                        {
                            "type":"image_picker",
                            "label":"your image",
                            "id":"image-social"
                        },
						{
                            "type": "url",
                            "id": "link-2",
                            "label": "Link URL 1"

                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "social_banner" 
                    }
                    ]

}
{% endschema %}


{% javascript %}
{% endjavascript %}
